{% extends "club/base3.html"%}
{% load static from staticfiles %}

{% block body_block %}
<div class="super_container">

  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title_container">
            <div class="section_title">
              <br><br><br><br>
              <h1>Player registration list</h1>
              <br><br>
              <div class="container-table100">
                <div class="wrap-table100">
                  <div class="table100">
                      <table>
                        <thead>
                        <tr class="table100-head">
                          <th class="column1">First name</th>
                          <th class="column2">Middle Name</th>
                          <th class="column2">Last Name</th>
                          <th class="column2">Location</th>
                          <th class="column2">Eventname</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr class="table100-head">
                            <td class="column1">Manu</td>
                            <td class="column1">M</td>
                            <td class="column1">Madhev</td>
                            <td class="column1">Kollam</td>
                            <td class="column2">High Jump</td>
                          </tr>
                          <tr class="table100-head">
                            <td class="column1">Reon</td>
                            <td class="column1">S</td>
                            <td class="column1">Saji</td>
                            <td class="column1">Kottayam</td>
                            <td class="column2">Javelin</td>
                          </tr>
                          <tr class="table100-head">
                            <td class="column1">Sreekanth</td>
                            <td class="column1">J</td>
                            <td class="column1">Jayaprakesh</td>
                            <td class="column1">Thrissur</td>
                            <td class="column2">100 meter</td>
                          </tr>
                          <tr class="table100-head">
                            <td class="column1">Sabin</td>
                            <td class="column1">D</td>
                            <td class="column1">Dandapani</td>
                            <td class="column1">Palakkad</td>
                            <td class="column2">Shortput</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row news_row">


      </div>
    </div>
  </div>

</div>
{% endblock %}
