{% extends "club/base3.html"%}
{% load static from staticfiles %}

{% block body_block %}
	<div class="super_container">
		<!-- Menu -->

		<div class="menu">
			<div class="menu_background">
				<div class="menu_container d-flex flex-column align-items-end justify-content-start">
					<div class="menu_close">close</div>
					<div class="menu_user_area">
						<ul class="d-flex flex-row align-items-start justify-content-end">
							<li><a href="#">Sign up</a></li>
							<li><a href="#">Sign in</a></li>
						</ul>
					</div>
					<nav class="menu_nav">
						<ul class="text-right">
							<li><a href="index.html">home</a></li>
							<li><a href="about">about us</a></li>
							<li><a href="team.html">the team</a></li>
							<li><a href="blog.html">news</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</nav>
					<div class="menu_links">
						<ul class="d-flex flex-row align-items-start justify-content-start">
							<li><a href="#">GET Tickets</a></li>
							<li><a href="#">Shop</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Home -->




		<!-- Upcoming & Latest -->

		<div class="upcoming_latest">
			<div class="container">
				<div class="row">
					<!-- Upcoming Events -->
					<div class="col-xl-6">
						<div class="section_title_container">
							<div class="section_title light">
								<h1></h1>
							</div>
							<div class="section_subtitle"></div>
						</div>
						<div class="custom_list_a">

							<form method="post" action="{% url 'player' %}">
								<div class="container">
									<br><br>


								</div>
							</form>

						</div>
					</div>
				</div>
			</div>

			<!-- Milestones -->

			<div class="milestones">
				<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/milestones.jpg' %}" data-speed="0.8"></div>
				<div class="container">
					<div class="row milestones_row">


					</div>
				</div>
			</div>
{% endblock %}
