{% extends "club/base3.html"%}
{% load static from staticfiles %}

{% block body_block %}
  <div class="super_container">
    <!-- News -->

    <div class="news">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container">
              <div class="section_title">
                <br><br><br><br>
                <h1>Event Registration</h1>
              </div>
              <div class="section_subtitle">Register for the event</div>
            </div>
          </div>
        </div>

        <form action="" method="post">

        <div class="row news_row">

          <!-- News Post -->
          <div class="col-lg-4">
            <div class="news_post">
              <div class="news_post_image">
                <img src="{% static 'club/images/highjump.jpg' %}" alt="">
                <div class="news_post_date">
                  <a href="#">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div>1</div>
                      <div>April</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news_post_content">
                <div class="tags">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="">Event</a></li>
                  </ul>
                </div>
                <div class="news_post_title"><a href="">High Jump</a></div>
                <div class="news_post_text">
                  <p>Venue:DB1 <br> Date:1 April <br> Reporting time: 10AM</p>
                  <a href="#"><input type="submit" class="btn btn-danger" value="Register" name="1"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- News Post -->
          <div class="col-lg-4">
            <div class="news_post">
              <div class="news_post_image">
                <img src="{% static 'club/images/longjump.jpg' %}" alt="">
                <div class="news_post_date">
                  <a href="#">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div>1</div>
                      <div>April</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news_post_content">
                <div class="tags">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="blog.html">Event</a></li>
                  </ul>
                </div>
                <div class="news_post_title"><a href="">Long Jump</a></div>
                <div class="news_post_text">
                  <p>Venue:DB2 <br> Date:1 April <br> Reporting time: 9AM</p>
                  <a href="#"><input type="submit" class="btn btn-danger" value="Register" name="2"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- News Post -->
          <div class="col-lg-4">
            <div class="news_post">
              <div class="news_post_image">
                <img src="{% static 'club/images/shortput.jpg' %}" alt="">
                <div class="news_post_date">
                  <a href="#">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div>1</div>
                      <div>April</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news_post_content">
                <div class="tags">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="">Event</a></li>
                  </ul>
                </div>
                <div class="news_post_title"><a href="">Shortput</a></div>
                <div class="news_post_text">
                  <p>Venue:DB3 <br> Date:1 April <br> Reporting time: 10:30AM</p>
                  <a href="#"><input type="submit" class="btn btn-danger" value="Register" name="3"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- News Post -->
          <div class="col-lg-4">
            <div class="news_post">
              <div class="news_post_image">
                <img src="{% static 'club/images/javelin.jpg' %}" alt="">
                <div class="news_post_date">
                  <a href="#">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div>1</div>
                      <div>April</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news_post_content">
                <div class="tags">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="">Event</a></li>
                  </ul>
                </div>
                <div class="news_post_title"><a href="">Javelin</a></div>
                <div class="news_post_text">
                  <p>Venue:DB2 <br> Date:1 April <br> Reporting time: 11AM</p>
                  <a href="#"><input type="submit" class="btn btn-danger" value="Register" name="4"></a>
                </div>
              </div>
            </div>
          </div>

          <!-- News Post -->
          <div class="col-lg-4">
            <div class="news_post">
              <div class="news_post_image">
                <img src="{% static 'club/images/100 meter.jpg' %}" alt="">{% static 'club/club/' %}
                <div class="news_post_date">
                  <a href="#">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                      <div>1</div>
                      <div>April</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="news_post_content">
                <div class="tags">
                  <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
                    <li><a href="blog.html">Event</a></li>
                  </ul>
                </div>
                <div class="news_post_title"><a href="">100 meter</a></div>
                <div class="news_post_text">
                  <p>Venue:DB1 <br> Date:1 April <br> Reporting time: 10AM</p>
                  <a href="#"><input type="submit" class="btn btn-danger" value="Register" name="5"></a>
                </div>
              </div>
            </div>
          </div>

        </div>
        </form>
      </div>
    </div>


    <!-- CTA -->

    <div class="cta">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
              <div class="cta_text">Would you like to join our <span>football club?</span></div>
              <div class="cta_button button ml-md-auto"><a href="#">See More Info</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->


  </div>
{% endblock %}
