{% extends "club/base3.html"%}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block body_block %}
	<div class="super_container">

		<!-- Upcoming & Latest -->

		<div class="upcoming_latest">
			<div class="container">
				<div class="row">
					<!-- Upcoming Events -->
					<div class="col-xl-6">
						<div class="section_title_container">
							<div class="section_title light">
								<h1></h1>
							</div>
							<div class="section_subtitle"></div>
						</div>
						<div class="custom_list_a">
							<form action="" method="post" role="form" name="form">
								<div class="col-10">
									<h1><span class="icon hk-icon-sm hk-icon-app"></span> Player Registration</h1>
								</div>
								{% csrf_token %}
								{{ form | crispy }}
								<input type="submit" class="btn btn-success" value="Submit">
								<br><br><br>

							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- Milestones -->

			<div class="milestones">
				<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'club/images/milestones.jpg' %}" data-speed="0.8"></div>
				<div class="container">
					<div class="row milestones_row">

						<!-- Milestone -->
						<div class="col-xl-3 col-md-6 milestone_col">
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_icon"><img src="{% static 'club/images/icon_1.svg' %}" alt="https://www.flaticon.com/authors/freepik"></div>
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="23" data-sign-after="k">0</div>
									<div class="milestone_title">Team players</div>
									<div class="milestone_subtitle">Lorem ipsum dolor sit amet,</div>
								</div>
							</div>
						</div>

						<!-- Milestone -->
						<div class="col-xl-3 col-md-6 milestone_col">
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_icon"><img src="{% static 'club/images/icon_2.svg' %}" alt="https://www.flaticon.com/authors/freepik"></div>
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="120">0</div>
									<div class="milestone_title">Trophies</div>
									<div class="milestone_subtitle">Lorem ipsum dolor sit amet,</div>
								</div>
							</div>
						</div>

						<!-- Milestone -->
						<div class="col-xl-3 col-md-6 milestone_col">
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_icon"><img src="{% static 'club/images/icon_3.svg' %}" alt="https://www.flaticon.com/authors/freepik"></div>
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="7">0</div>
									<div class="milestone_title">Medals</div>
									<div class="milestone_subtitle">Lorem ipsum dolor sit amet,</div>
								</div>
							</div>
						</div>

						<!-- Milestone -->
						<div class="col-xl-3 col-md-6 milestone_col">
							<div class="milestone d-flex flex-row align-items-start justify-content-start">
								<div class="milestone_icon"><img src="{% static 'club/images/icon_4.svg' %}" alt="https://www.flaticon.com/authors/freepik"></div>
								<div class="milestone_content">
									<div class="milestone_counter" data-end-value="36">0</div>
									<div class="milestone_title">Kicks/Match</div>
									<div class="milestone_subtitle">Lorem ipsum dolor sit amet,</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Player of the month -->

			<div class="player">
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="player_content">
								<div class="section_title_container">
									<div class="section_title">
										<h1>player of the month</h1>
									</div>
									<div class="section_subtitle">What's next this month</div>
								</div>
								<div class="player_name_container d-flex flex-row align-items-end justify-content-start">
									<div class="player_num">83</div>
									<div class="player_name">Michael Smith</div>
								</div>
								<div class="player_text">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean interdum dictum
										augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque vel commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.</p>
									<p>Nam turpis nulla, ullamcorper volutpat faucibus ut, facilisis in elit. Nam blandit diam vel felis porta, vitae congue nulla feugiat. Vestibulum rhoncus odio elit, at aliquet sem posuere vel.</p>
								</div>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="player_images d-flex flex-row align-items-end justify-content-start">
								<div class="player_image"><img src="{% static 'club/images/player_1.png' %}" alt=""></div>
								<div class="player_image"><img src="{% static 'club/images/player_2.png' %}" alt=""></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- News -->

			<div class="news">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title_container">
								<div class="section_title">
									<h1>latest news</h1>
								</div>
								<div class="section_subtitle">What's next this month</div>
							</div>
						</div>
					</div>
					<div class="row news_row">

						<!-- News Post -->
						<div class="col-lg-4">
							<div class="news_post">
								<div class="news_post_image">
									<img src="{% static 'club/images/news_1.jpg' %}" alt="">
									<div class="news_post_date">
										<a href="#">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div>10</div>
												<div>sept</div>
											</div>
										</a>
									</div>
								</div>
								<div class="news_post_content">
									<div class="tags">
										<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
											<li><a href="blog.html">News</a></li>
										</ul>
									</div>
									<div class="news_post_title"><a href="blog.html">T-shirt release date</a></div>
									<div class="news_post_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="col-lg-4">
							<div class="news_post">
								<div class="news_post_image">
									<img src="{% static 'club/images/news_2.jpg' %}" alt="">
									<div class="news_post_date">
										<a href="#">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div>10</div>
												<div>sept</div>
											</div>
										</a>
									</div>
								</div>
								<div class="news_post_content">
									<div class="tags">
										<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
											<li><a href="blog.html">News</a></li>
										</ul>
									</div>
									<div class="news_post_title"><a href="blog.html">Junior league Openings</a></div>
									<div class="news_post_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- News Post -->
						<div class="col-lg-4">
							<div class="news_post">
								<div class="news_post_image">
									<img src="{% static 'club/images/news_3.jpg' %}" alt="">
									<div class="news_post_date">
										<a href="#">
											<div class="d-flex flex-column align-items-center justify-content-center">
												<div>10</div>
												<div>sept</div>
											</div>
										</a>
									</div>
								</div>
								<div class="news_post_content">
									<div class="tags">
										<ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">
											<li><a href="blog.html">News</a></li>
										</ul>
									</div>
									<div class="news_post_title"><a href="blog.html">The summer transfers</a></div>
									<div class="news_post_text">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed feugiat ex suscipit.</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- CTA -->

			<div class="cta">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="cta_content d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<div class="cta_text">Would you like to join our <span>football club?</span></div>
								<div class="cta_button button ml-md-auto"><a href="#">See More Info</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}
